# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go dependency directories
vendor/

# Go workspace file
go.work

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
server/bin/
dist/
build/
coverage_data/
ui/coverage
*.tsbuildinfo

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
server/nats-store/
server/deploy/
server/db-backups/
certs/
deploy/
backup-*.gz
pre-restore-*.gz
pre-restore-*.db

demo/demo
benchmark/main
build_and_setup.sh
architecture/
AirQuality/AirQuality
